.mybutton{
    padding: 20px 20px;
    
    border-radius: 5px;
    cursor: pointer;
}

.secondarybtn{
  /* composes: mybutton; */
    background-color: brown;
    color: azure;
}
.primarybtn{
background-color: green;
    color: azure;
}